<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
          <ul class="dropdown-menu">
            <li><a href="#">About AskRose</a></li>
            <li><a href="#">Statistics</a></li>
          </ul>
        </li>
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
          <ul class="dropdown-menu">
            <li><a href="#">Math</a></li>
            <li><a href="#">Science</a></li>
            <li><a href="#">SAT/ISTEP/GQE</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Materials</li>
            <li><a href="#">Study Guiides</a></li>
            <li><a href="#">Study Skills</a></li>
          </ul>
        </li>
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Supplies</a>
          <ul class="dropdown-menu">
            <li><a href="#">Posters</a></li>
            <li><a href="#">Brochures</a></li>
            <li><a href="#">Fliers</a></li>
            <li><a href="#">Wallpaper</a></li>
            <li><a href="#">Stickers</a></li>
          </ul>
        </li>
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media</a>
          <ul class="dropdown-menu">
            <li><a href="#">In the News</a></li>
            <li><a href="#">Radio PSAs</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>