<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
          <ul class="dropdown-menu">
            <li><a href="/about">About AskRose</a></li>
            <li><a href="/about/statistics">Statistics</a></li>
          </ul>
        </li>
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
          <ul class="dropdown-menu">
            <li><a href="/resources/math">Math</a></li>
            <li><a href="/resources/science">Science</a></li>
            <li><a href="/resources/testPrep">SAT/ISTEP/GQE</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Materials</li>
            <li><a href="/resources/studyGuides">Study Guiides</a></li>
            <li><a href="/resources/studySkills">Study Skills</a></li>
          </ul>
        </li>
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Supplies</a>
          <ul class="dropdown-menu">
            <li><a href="/supplies">Posters</a></li>
            <li><a href="/supplies">Brochures</a></li>
            <li><a href="/supplies">Fliers</a></li>
            <li><a href="/supplies">Wallpaper</a></li>
            <li><a href="/supplies">Stickers</a></li>
          </ul>
        </li>
        <li class="dropdown top-nav">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media</a>
          <ul class="dropdown-menu">
            <li><a href="/media/news">In the News</a></li>
            <li><a href="/media/radio">Radio PSAs</a></li>
            <li><a href="/media/videos">Videos</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>